numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.13.1
statsmodels==0.14.2
linearmodels==7.0
PyYAML==6.0.1
matplotlib==3.9.2
seaborn==0.13.2
tables==3.10.1
h5py==3.11.0
tqdm==4.66.5
joblib==1.4.2
networkx==3.3
pyarrow==16.1.0
cvxpy==1.6.6
torch==2.11.0+cu126
torchvision==0.26.0+cu126
torchaudio==2.11.0+cu126
torch-geometric==2.7.0
tensorboard==2.20.0
einops==0.8.2
